@import '../node_modules/react-md/src/scss/react-md';

/* colors */
$primary: #233447;
$secondary: #ffad00;
$bg-color: rgba(223, 239, 251, 0.99);
$md-primary-color: $primary;
$md-secondary-color: $secondary;

/* include react.md */
@include react-md-everything;

/* defaults */
@import './assets/styles/initial';

/* custom (containers & components) styles */
@import './components/footer/footer-style';
@import './modules/zip-reader/zip-reader';


