/* defaults */
body {
  padding: 0;
  margin: 0;
  background: $bg-color;
  font-family: 'Oswald', sans-serif;
}
.md-paper--1 {
  box-shadow: none;
  background: $bg-color;
  height: 100%;
  color: #fff;
}

h1,
h2,
h3,
h4,
span {
  font-family: 'Oswald', sans-serif !important;
}

hr {
  border-color: $primary;
  margin: 30px 0;
}

.md-text--error {
  font-size: 18px;
  before {
    content: 'Error: ';
  }
}
